body
{
  background-color: black;
}

.inicial
{
  position: absolute;
  color: white;
  left: 45%;
  font-family: 'Turret Road', cursive;
}

#JOGAR
{
  text-decoration: none;
}

#JOGAR a
{
  text-decoration: none;
  color: white;
}

#JOGAR a:hover, #CREDITS:hover , #INSTRUCTION:hover
{
  color: purple;
  transition: all 200ms ease-out;
}

#CREDITS
{
  margin-top: 65px;
  left: 810px;
}

#INSTRUCTION
{
    margin-top: 105px;
    left: 800px;
}

#INSTRUCTION:hover, #CREDITS
{
  cursor: pointer;
}

#genius
{
  width: 300px;
  position: relative;
  top: 0px;
  left: 40%;
  animation: flutuando .5s ease-in-out 0s infinite alternate;
}

#inicial
{
  top: 0px;
  left: 38%;
}

#genius:hover
{
    opacity: 0.4;
    transition: all 200ms ease-out;
}

@keyframes flutuando
{
  from { top: 0px; }
  to { top: 30px; }
}

.bg-modal
{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  background-color: rgba(255 ,255 ,255 , 0.6);
  display: none;
  justify-content: center;
  align-items: center;
transition: all 200ms ease-out;
}

.lr-modal
{
  top: 0px;
  width: 510px;
  height: 460px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-family: 'Turret Road', cursive;
}

.lr-modal h1
{
  position: relative;
  left: 150px;
}
